<div class="container   cyan  lighten-3 ">
   <div class="row"></div>

        <div class="row">
            <div class="col s12 m12 l12">
              <div class="card">
                <div class="card-image center ">
                  <img class="responsive-img" src="assets/IMG/estudiante.jpg">
                  <span class="cyan-text Georgia  card-title"><h1 class="" >Bienvenido</h1></span>
                </div>
              </div>
            </div>
          </div>
           
          <div class="row">
            <form class="col s12 m12 l12">
              <div class="row">
                <div class="col s2 m2 l2"></div>
                <div class="input-field col s6 l6 m6">
                  <i class="material-icons prefix">account_circle </i>
                  <input id="icon_prefix" type="text" class="validate">
                  <label for="icon_prefix">Nombre</label>
                </div>
              </div>
                <div class="row">
                  <div class="col s2 l2 m2"></div>
                  <div class="input-field col s6 l6 m6">
                    <i class="material-icons prefix">https</i>
                    <input id="password" type="password" class="validate">
                    <label for="icon">Contraseña</label> 
                  </div>
                </div>
                
           </form>
          </div>

          <div class="row">
            <div class="col s1 l1 m1"></div>
            <div class="col s4 m4 l4">
              <a [routerLink]="['/perfil']" class= "waves-effect waves-light btn-small"><i class="material-icons left">send</i>Iniciar Seccion </a>
            </div>
            <div class="col s2 l2 m2"></div>
            <div class="col s4 m4 l4">
              <a [routerLink]="['/login']" class= "waves-effect waves-light btn-small"><i class="material-icons left">send</i>Crear Cuenta </a>
            
            </div>
            <div class="col s1 l1 m1"></div>
          </div>


                
        
        

    </div>
