
<div class="container">
  
    <div class="row">
        <div class="col s12 m7" *ngFor= " let cat of categoria_videos">
          <div class="card"  >
           <div class="card-image"> 
             <iframe src="" ></iframe>
            
              <span class="card-title">{{cat.id}}</span>
           </div>
            <div class="card-content">
              <p>{{cat.descripcion}}</p>
            </div>
            <div class="card-action">
              <a [routerlink]="['/tutoriales', cat.id-1]" class="waves-effect waves-light btn">Ver video...</a>
            </div>
          </div>
        </div>
      </div>

            
 
</div>


 



















































































































