
  <div class="container cyan lighten-3 ">
      
<div class="row ">
  <div class="col s12 m12 l12 btn-small"></div>
</div>

    <div class="row ">

      <div class="col s3 m3 l3">
        <img class="circle responsive-img" src="assets/IMG/usuario.jpg">
      </div>  
      <div class="col s9 l9 m9">
<h5>Mauricio Lopez</h5>
<h5>20 años</h5>
<h5>Estudiante de Lic. En Diseño Grafico</h5>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12 ">
      <div class="card-panel teal"> <span class=" Georgia bold white-text ">Tareas</span> </div>  
        </div>
       
      </div>

      <div class="row">
        <div class="col s12 l12 m12">
          <form action="#">
            
            <p>
              <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Lunes 19 de de Octubre, parcial de Interfaces II.</span>
              </label>
            </p>
            <p>
              <label>
                <input type="checkbox" class="filled-in" checked="checked" />
                <span>Martes 20 de Octubre, parcial de Infografia. </span>
              </label>
            </p>
           
           
          </form>
                
        </div>
      </div>


    <div class="row">
      <div class="col s12 m12 l12 ">
      <div class="card-panel teal"> <span class=" Georgia bold white-text ">Apuntes</span> </div>  
        </div>
       
      </div>

      <div class="row">
        <div class="col s12 l12 m12">
          <div><span class=" text-darken-2"><i class="teal-text material-icons">school</i>Practicar letra tecnica.</span></div>
          <div><span class=" text-darken-2"><i class="teal-text material-icons">school</i>Ver tutoriales de angular..</span></div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m12 l12 ">
        <div class="card-panel teal"> <span class=" Georgia bold white-text ">Videos</span> </div>  
          </div>

          <div class="row">
            <div class="col s4 l4 m4 ">
              <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/tUZA8sU1EsM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
            <div class="col s4 l4 m4 ">
              <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/rbuYtrNUxg4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
            <div class="col s4 l4 m4 ">
              <div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/e2_WDo5yK_Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
          </div>
         
        </div>
  
    
    <div class="row">
      <div class="col s2 l2 m2"></div>
        <div class="col s8 m8 l8">
        <nav class="teal center">
          <div class="center_nav ">
            <ul>
              <li><a [routerLink]="['/inicio']">Cerrar Seccion</a></li>
              <li><a [routerLink]="['/perfil']"><i class="large material-icons">account_circle</i></a></li>
              <li><a [routerLink]="['/calendario']"><i class="large material-icons">event</i></a></li>
              <li><a [routerLink]="['/apuntes']"><i class="large material-icons">school</i></a></li>
              <li><a [routerLink]="['/videos']"><i class="large material-icons">movie</i></a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="col s2 l2 m2"></div>
      </div>

      
      
  </div>
  
  