<div class="container cyan  lighten-3 ">

    <div class="row ">
        <form >
          <div class="row">
            <div class="col s3 m3 l3"></div>
            <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">account_circle</i>
              <input  id="icon_prefix" type="text" class="validate ">
              <label for="icon_prefix">Primer nombre</label>
            </div>
          </div>
          <div class="row"> 
              <div class="col s3 m3 l3"></div>
              <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Primer apellido</label>
          </div>
        </div>
          
          <div class="row">
            <div class="col s3 m3 l3"></div>
            <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">lock</i>
              <input id="icon_prefix" type="password" class="validate">
              <label for="icon_prefix">Contraseña</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3 m3 l3"></div>
            <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">mail</i>
              <input id="icon_prefix" type="email" class="validate">
              <label for="icon_prefix">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s3 m3 l3"></div>
            <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">today</i>
              <input  id="icon_prefix" type="text" class="validate ">
              <label for="icon_prefix">Fecha de nacimiento</label>
            </div> 
          </div>
          <div class="row">
            <div class="col s3 m3 l3"></div>
            <div class="input-field col s6 m6 l6">
                <i class="material-icons prefix">school</i>
              <input  id="icon_prefix" type="text" class="validate ">
              <label for="icon_prefix">Nivel academico</label>
            </div>
          </div>
        </form>
        <div class="row">
            <div class="col s2 l2 m2"></div>
            <div class="col s3 m3 l3">
                <a [routerLink]="['/inicio']" class="waves-effect waves-light btn-small"><i class="material-icons left">navigate_before</i>Regresar</a>
            </div>
            <div class="col s2 l2 m2"></div>
            <div class="col s3 m3 l3">
                <a [routerLink]="['/perfil']" class="waves-effect waves-light btn-small"><i class="material-icons left">send</i>Crear</a>
            </div>
            <div class="col s2 l2 m2"></div>
          </div>
      </div>
            

</div>